/*---------------------------------------
    Experience section              
-----------------------------------------*/

#experience .experience-img {
    background: url('/images/experience-img.jpg') no-repeat;
}

#experience .media-heading {
    margin-bottom: 0px;
}

#experience .media .fa {
    font-size: 42px;
    margin-right: 14px;
}

#experience small {
    color: #633;
    font-weight: bold;
}

.exp-small {
    margin-left: 6px;
}

@media(min-width: 768px) {
    .exu-row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    
    .exu-cell {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
}
  