/*---------------------------------------
   Quotes section              
-----------------------------------------*/

#quotes {
    background: url('/images/quotes-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative;
    padding: 100px 0px;
}

#quotes .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#quotes .fa {
    font-size: 42px;
    margin-top: 32px;
    margin-bottom: 22px;
}

#quotes p {
    padding-top: 32px;
}

.download-btn {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 12px 36px;
    margin-top: 42px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
}
  
.download-btn:hover {
    background-color: #000;
    border-color: #000;
    color: #ffffff;
}

.download-btn:focus {
    color: #fff;
}