/*body {*/

/*  padding: 50px;*/

/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

/*}*/

/*a {*/

/*  color: #00B7FF;*/

/*}*/









.swal2-popup {
  font-size: 1.6rem !important;
}






.blog-active {
  background: transparent;
  color: #E3AE57 !important;
}

#blog {
  background: #fff;
  padding: 70px;
  padding-top: 100px;
}

#blog h3, #blog p {
  margin: 0;
  color: #616161;
  text-align: justify;
}

#blog img {
  width: 100%;
}

.blog-featured {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.blog-ftitle {
  font-size: 4em;
  line-height: 1em;
}

.blog-fcat {
  color: #E3AE57;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
}

.blog-meta {
  margin-bottom: 6px;
  color: #8d8d8d;
}
.blog-meta a {
  color: #8d8d8d;
}

.blog-meta i {
  font-size: 13px;
  position: relative;
  bottom: -1px;
  margin-right: 4px;
  padding-left: 1px;
  width: auto;
  height: auto;
  margin-left: 0px;
  line-height: 1;
  vertical-align: inherit;
}

.blog-meta > * {
  padding: 0 10px;
}
.blog-meta > *:not(:last-child) {
  border-right: 1px solid #d6d6d6;
}

.blog-fimage {
  width: 100%;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.blog-fimage > img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.blog-fimage:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.blog-fimage:hover:after {
  opacity: 1;
}

.blog-footer > .blog-fdesc {
  margin: 1em;
  padding: 0 2em;
  font-weight: 400;
}

.grc-disabled {
  opacity: 0.5 !important;
}
