/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-img {
    background: url('/images/about_wide.jpg') no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
    padding: 22px 32px 32px 32px;
}

#about .progress {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: none;
    height: 2px;
}

#about .progress-bar-primary {
    background: #232B2B;
}

#about strong,
#about span {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

#about p {
    text-align: justify;
}

@media(min-width: 990px) {
  
    .about-row, .contact-row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    
    .about-cell, .contact-cell {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
}